/* General styles for the AdminMenu page */
.admin-menu-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5; /* Light gray background */
  color: #333; /* Dark gray text */
  padding: 2rem;
  padding-top: 60px;
}

.admin-menu-form-container {
  background: #ffffff; /* White background for form */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
}

.admin-menu-form-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #000; /* Black text */
  text-align: center;
}

.admin-menu-form {
  display: flex;
  flex-direction: column;
}

.admin-menu-form-group {
  margin-bottom: 1.5rem;
}

.admin-menu-form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #000; /* Black text */
}

.admin-form-input,
.admin-form-select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: #fff; /* White background for inputs */
  color: #333; /* Dark gray text */
}

.admin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #333; /* Dark gray background */
  color: #fff; /* White text */
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  margin: 0.5rem 0;
  white-space: nowrap;
  text-align: center;
}

.admin-button:hover {
  background-color: #000; /* Black on hover */
}

.admin-remove-option-button {
  background-color: #e74c3c; /* Red background for remove option */
  color: #fff; /* White text */
  width: 80px; /* Set a fixed width for the remove button */
}

/* Ensure the options container is displayed as flexbox */
.admin-options-container {
  display: flex;
  flex-direction: column; /* Stack the rows vertically */
}

/* Style for each option row */
.admin-option {
  display: flex; /* Align items in a row */
  align-items: center; /* Center align vertically */
  margin-bottom: 10px; /* Space between options */
}

/* Style for the input fields */
.admin-form-input {
  flex: 1; /* Make the input fields take equal space */
  margin-right: 10px; /* Space between input fields and button */
}

/* Button style */
.admin-remove-option-button {
  margin-left: 5px; /* Space between input fields and button */
}

/* Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #333; /* Green when toggled */
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.image-preview {
    margin-top: 10px;
    max-width: 50%; /* Responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for effect */
  }

  .admin-add-option-button {
    background-color: #3498db; /* Blue background */
    color: #fff; /* White text */
    margin-top: 10px; /* Margin above the button */
  }
  
  .admin-add-option-button:hover {
    background-color: #2980b9; /* Darker blue on hover */
  }
  
