/* src/components/Navbar/Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-bottom: 1px solid #444;
}

.navbar-logo {
  text-decoration: none;
  color: #fff;
}

.navbar-logo h1 {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-icons input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #555;
  background-color: #333;
  color: #fff;
  transition: background 0.3s, border-color 0.3s;
}

.navbar-icons input:focus {
  background-color: #444;
  border-color: #585858;
  outline: none;
}

.navbar-icons .icon {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.navbar-icons .icon:hover {
  color: #919191;
}
